h1,h2,h3 {
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
}
ul>li>a{
    box-align: center;
    background-color:crimson;
    font-style: italic;
    
}

li{
    color:blue;
}
article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align:center ;
}
body {
    text-align: center;
}